html {
    font-family: sans-serif;
  }
  
  span,
  div em {
    padding: 5px;
    border: 1px solid green;
    display: inline-block;
    margin-bottom: 3px;
  }
  
  .first span:nth-child(2n + 1),
  .second span:nth-child(2n + 1),
  .third span:nth-of-type(2n + 1) {
    background-color: lime;
  }
  