@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --coloreprimariobackground: #081b29;
  --coloresecondariobackground: #112e42;
  --coloretesto: #ededed;
  --coloretestonav: #081b29;
  --coloreprincipale: #00abf0;
}

html {
  font-size: 60%;
  overflow-x: hidden; /* Nasconde il contenuto orizzontalmente se sfora l'elemento */
}

.page {
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: var(--coloreprimariobackground);
  color: var(--coloretesto);
}

.header {
  position: fixed;
  top: 0; /* top: La proprietà top viene utilizzata in combinazione con position: fixed; o position: absolute; per posizionare un elemento rispetto al suo contenitore posizionato o rispetto alla finestra del browser. */
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 25, 131, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /*padding: 2rem 9%; significa che l'elemento avrà un padding di:

  2 rem (unità di misura basata sulla dimensione del testo) per il lato superiore e inferiore.
  9% della larghezza dell'elemento per i lati destro e sinistro. */
}

.logo {
  font-size: 2.5rem;
  color: var(--coloretesto);
  font-weight: 600;
}

.navbar a {
  font-size: 2rem; /* 16 pixel (dimensione di base) * 0.60 (impostato su <html>) * 2.3 (impostato su <header>) = 22.08 pixel
 */
  color: var(--coloretesto);
  font-weight: 500;
  margin-left: 3rem;
  transition: 0.3s; /*effetto visivo di latenza  */
}

a:hover {
  color: yellowgreen;
}

a:active {
  color: lightblue;
}

.menu a {
  text-decoration: none;
  color: white;
  border-bottom: 1px whitesmoke solid;
 
}

.menu-btn {
  display: none;
}

.menu-icon {
  grid-area: hamburger;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 30px 20px 30px 0;
  position: relative;
  user-select: none;
  visibility: visible;
  background: transparent;
}

.navicon {
  background: white;
  display: block;
  height: 2px;
  width: 20px;
  position: relative;
}

.navicon:before {
  top: 5px;
}

.navicon:after {
  top: -5px;
}

.navicon:before,
.navicon:after {
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: all 0.2s ease-out;
}

.menu {
  grid-area: nav;
  max-width: unset;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(22, 25, 131, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );;
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 20px 20px;
  border-right: 2px solid #f4f4f4;
 
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:before,
.menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}


section {
  min-height: 80vh;
  width: 100%;
  padding: 5%;
  /* border: 1px white solid;*/
  display: flex;
  background-image: url(img/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home {

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content {

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  /* border: 1px white solid; */
}
.home1 {
    flex-direction: column;
    width:100%;
    background-image: url(img/wallpaperflare.com_wallpaper\ copia.jpg);
    min-height:100vh
    
 }
  
.home-content1 {
    border-top: 1px white solid;
    border-width: 80%;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

.home-content1 h2{
    text-align:center;
    margin-top: 30%;
    font-size: 4rem;
    margin-bottom: 3%;
}

.home-content1 p {
    text-align:justify;
    font-style: normal;
    font-size: 2.5rem;
}

.home-content2 {
    display:flex;
    flex-direction:column;
    width: 100%;
}
.home-content2 h2 { text-align: center;
font-size: 4rem;
margin-bottom: 2rem;}

.programming {
    
    
    display:flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid white;
    border-radius: 10%;
    margin-bottom: 3%;
    
}
.programmingskills {
    display:flex;
    flex-direction: column;
    align-items: start;
    width:100%;
    font-size: 2rem;
    padding: 5%;
}
.programmingskills p {
    margin-top: 1%;
    margin-bottom: 5%;
}

.programming h2 {
    font-size: 3rem;
    margin-top: 2%;
}

#html {
    border-bottom: 1rem white solid;
    
    width: 80%;
    padding-bottom: 3px;
    
}

#css {border-bottom: 1rem white solid;
    
width: 80%;
padding-bottom: 3px;}

#bootstrap {
    border-bottom: 1rem white solid;
    width:70%;
    padding-bottom: 3px;
}

#SAAS {
    border-bottom: 1rem white solid;
    width: 50%;
    padding-bottom: 3px;
  }

.languages {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    border: 1px solid white;
    border-radius: 10%;
  }

.languagesskills {
    display:flex;
    flex-direction: column;
    align-items: start;
    width:100%;
    font-size: 2rem;
    padding: 5%;
  }

.languagesskills h2 {
    border-bottom: 1px white solid;
    margin-bottom: 1%;
    width:100%;
    padding-bottom: 10px;
    
}


.languagesskills p {
    margin-top: 1%;
    margin-bottom: 5%;
}
.english {
    width: 100%;
}


.languages h2 {
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: -1%;
}

#reading {
    margin-top: 4%;
    border-bottom: 1rem white solid;
    width: 70%;
    padding-bottom: 3px;
}

#useofenglish {
    border-bottom: 1rem white solid;
    width: 70%;
    padding-bottom: 2px;
}

#writing {
    border-bottom: 1rem white solid;
    width: 70%;   
    padding-bottom: 3px;
}

#listening {
    border-bottom: 1rem white solid;
    width: 80%;
    padding-bottom: 3px;
}
#speaking {
    border-bottom: 1rem white solid;
    width: 80%;
    padding-bottom: 3px;
}

.other-languages {
    width: 100%;
}
.other-languages h2 {
    margin-bottom: 3%;
}
#spanish {
    border-bottom: 1rem white solid;
    width: 60%;
    padding-bottom: 5px;
}

#portuguese {
    border-bottom: 1rem white solid;
    width: 20%;
    padding-bottom: 5px;
}
.text {
  margin-top: 10rem;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding: 5%;
  flex-direction: column;
  align-items: center;
}

.text h1 {
  color: var(--coloretesto);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: -30%;
  margin-bottom: 3%;
}

.text h3 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 5%;
}

.text p {
  font-size: 1rem;
  font-weight: 100;
  font-style: bold;
  text-align: justify;
  max-width: 60%;
}

.mypic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
}

.pic {
  width: 80%;
  height: 80%;
  margin: 0 auto;

}

.mypic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.curriculum {
  padding: 0%;
  background-image: url(img/wallpaperflare.com_wallpaper\ copia.jpg);
  min-height: 30vh;
}
.curriculum-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  border: 1px white solid;
  margin-right:2rem;
  margin-left: 2rem;
  background-image: url(/assets/img/wallpaperflare.com_wallpaper\ copia.jpg);
  background-size: cover;
  
}
.header-curriculum {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  font-size: 2rem;
  font-weight: 700;
}

.box1 {
  margin-top: 3rem;
  border-bottom: 1px white solid;
  width: 80%;
  margin-left: 20%;
  padding: 5px;
}

.box1 h2 {
    font-size: 3rem;
}
.box1 h3 {
    font-size: 2rem;
}
.box1 p {
    font-size: 1.5rem;
}

.box2 {
  margin-top: 2rem;
  border-bottom: 1px white solid;
  width: 80%;
  padding: 5px;
}
.box2 h2 {
    font-size: 3rem;
}
.box2 h3 {
    font-size: 2rem;
}
.box2 p {
    font-size: 1.5rem;
}

.box3 {
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-bottom: 1px white solid;
  width: 80%;
  margin-left: 20%;
  padding: 5px;
}

.box3 h2 {
    font-size: 3rem;
}
.box3 h3 {
    font-size: 2rem;
}
.box3 p {
    font-size: 1.5rem;
}

.certifications {
  padding: 0%;
}

.certifications-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7%;
}
.certifications-header {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  font-size: 2rem;
  font-weight: 700;
}

.dpo {
  margin-top: 2rem;
  width: 100%;
  height: 40%;
}
.dpo h3 {
  font-size: 2rem;
}

.dpoimgcontainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px white solid;
  border-right: 1px white solid;
  margin: 0 auto;
  
}

.dpoimgcontainer img {
  width: 80%;
}

.dpoimgcontainer h3 {
  margin-top: 1rem;
}

.b2 {
  margin-top: 2rem;
  width: 100%;
  height: 40%;
}
.b2 h3 {
  font-size: 2rem;
}

.b2container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px white solid;
  border-right: 1px white solid;
  
  margin: 0 auto ;
  margin-bottom: 5rem;
}

.b2container img {
  width: 80%;
}

.b2container h3 {
  margin-top: 1rem;
}

.footer {
  width: 100%;
  min-height: 20vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  background-image: none;
  background-color: black;
  padding: 0%;
  border-top: 1px solid white;
}

.social {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

#success-message {
  width: 30rem;
  height: 5rem;
  font-size: 16px;
  color: green;
  background-color: #dff0d8;
  border: 3px solid #c8e3b9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: #c8e3b9;
  position: absolute;
  bottom:14rem;
  display: none;
  text-align: center;
  
}

#link {
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 20%;
}

#insta {
  border-radius: 20%;
}

#git {border-radius: 20%;
margin-left: 3rem;}

.navbar1 {display:none}

.navbar1 a {font-size: 2rem; /* 16 pixel (dimensione di base) * 0.60 (impostato su <html>) * 2.3 (impostato su <header>) = 22.08 pixel
 */
  color: var(--coloretesto);
  font-weight: 500;
  margin-left: 3rem;
  transition: 0.3s; /*effetto visivo di latenza  */}

/*big smartphones*/
@media screen and (min-width: 500px) and (max-width: 689px) {
.text h1 {margin-top: -50px;}
.pic img {margin-top: 20%;
  margin-bottom: 0%;}
}

/*tablet*/
@media screen and (min-width: 690px) and (max-width: 850px) {
  /* Aggiungi qui i tuoi stili per tablet */
  section {
    padding: 0%;
  }
  .home-content {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .dropdown {display: none;}
  .navbar1 {display: inline-block;}
  .navbar1 a:hover {color: greenyellow;}
  .header {
    background: transparent;
  }

  .header a {
    font-size: 2.4rem;
  }
  
  .mypic {
    
    margin-bottom: 10rem;
  }
  .pic img {margin-top: -4rem;}
  

  .text {
    width: 100%;
    margin-top: 0;
  
    
  }
  .text h1 {
    color: var(--coloretesto);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: -7rem;
   
  }
  .text h3 {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
  }

  .text p {
    font-size: 2rem;
    font-weight: 100;
    font-style: bold;
    text-align: justify;
    max-width: 100%;
  }
  .text img {
    width: 100%;
  }
  .mypic {
    margin-top: 10%;
  }
  .pic {
    width: 75%;
    height: 100%;
    padding: 3rem;
    margin-top: -6rem;
    border-bottom: 1px white solid;
  }
  .mypic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /* home-content1 - chi sono  */
  .home-content1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -20%;
    
  }
  .home-content1 h2 {
    margin-top: 5%;
  }
  .home-content1 p {
    width: 70%;
  }

  /*home-content2 - sezione skills */
  .home-content2 
  {width: 80%;
  margin: 0 auto;
  margin-bottom: 3%;
  margin-top: 9rem;}

  .curriculum-content h2 {
    font-size: 3rem;
  }
  .curriculum-content h3 {
    font-size: 2rem;
  }
  .curriculum-content p {
    font-size: 1.5rem;
  }
}
/*reversed big smartphone screen */
@media screen and (min-width: 851px) and (max-width: 1023px) {
  /* Aggiungi qui i tuoi stili per tablet */
  section {
    padding: 0%;
  }
  .home-content {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .dropdown {display: none;}
  .navbar1 {display: inline-block;}
  .navbar1 a:hover {color: greenyellow;}
  .header {
    background: transparent;
  }

  .header a {
    font-size: 2.4rem;
  }
  
  .mypic {
    
    margin-bottom: 10rem;
  }
  .pic img {margin-top: -4rem;}
  

  .text {
    width: 100%;
    margin-top: 0;
  
    
  }
  .text h1 {
    color: var(--coloretesto);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: -7rem;
   
  }
  .text h3 {
    font-size: 3rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
  }

  .text p {
    font-size: 2rem;
    font-weight: 100;
    font-style: bold;
    text-align: justify;
    max-width: 100%;
  }
  .text img {
    width: 100%;
  }
  .mypic {
    margin-top: 10%;
  }
  .pic {
    width: 75%;
    height: 100%;
    padding: 3rem;
    margin-top: -6rem;
    border-bottom: 1px white solid;
  }
  .mypic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /* home-content1 - chi sono  */
  .home-content1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -20%;
    
  }
  .home-content1 h2 {
    margin-top: 5%;
  }
  .home-content1 p {
    width: 70%;
  }

  /*home-content2 - sezione skills */
  .home-content2 
  {width: 80%;
  margin: 0 auto; 
  margin-bottom: 3%; 
  margin-top: 20rem;}

  .curriculum-content h2 {
    font-size: 3rem;
  }
  .curriculum-content h3 {
    font-size: 2rem;
  }
  .curriculum-content p {
    font-size: 1.5rem;
  }
}



/*desktop*/
@media screen  and (min-width: 1024px) {
  
  .home {background-image: url(img/wallpaperflare.com_wallpaper\ copia.jpg);}

  .home-content {
    min-height: 100vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
  }

  .dropdown {display: none;}
  .navbar1 {display: inline-block;}
  .navbar1 a:hover {color: greenyellow;}
  .header {
    background: transparent;
  }

  /* home-content1 - chi sono  */

  
  .home-content1 {
    width: 100%;
    margin: 0 auto;
    ;
   
    
  }
  .home-content1 h2 {
    margin-top: 5%;
  }
  .home-content1 p {
    width: 60%;
  }

  /*home-content2 - sezione skills */
  .home-content2 
  {width: 80%;
  margin: 0 auto;
  margin-bottom: 3%;
}
  .home-content2 h2 {
    margin-bottom: 4rem;
  }
.curriculum {background-color: #000000;
background-image: url(none);}
 .curriculum-content { background-image: url(img/wallpaperflare.com_wallpaper\ copia\ 2.jpg);
background-size: cover;
background-position: 100%;}
}


 
  
 
 


