.container {
  background-color :grey;
  width:100%;
}

.element {
  float: left;
  border: RED solid .1em;
}
.clear-fix {
  clear: both;
}
#inner-1 {
  display: block;
  background-color: white;
  box-sizing: border-box;
  width: 70%;
}
#inner-2 {
  display: block;
  background-color: white;
  box-sizing: border-box;
  width: 30%;
}

  
