.small {
    font-size: xx-small;
  }
  .larger {
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
  }
  .point {
    font-size: 24pt;
  }
  .percent {
    font-size: 200%;
  }

  .under {
    text-decoration: underline red;
  }
  
  .over {
    text-decoration: wavy overline lime;
  }
  
  .line {
    text-decoration: line-through;
  }
  
  .plain {
    text-decoration: none;
  }
  
  .underover {
    text-decoration: dashed underline overline;
  }
  
  .thick {
    text-decoration: solid underline purple 4px;
  }
  
  .blink {
    text-decoration: blink;
  }
 
  .article {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);
    margin: 2px;
    border: 2px solid #000;
}

.article img {
  width: 100%;
  max-height: 100%;
  float: center;
}




  .centro {
    margin: left;
    width: 50%;
    height: 0%;
    background-color: aliceblue;
    border: 2px solid black;
    padding: 10px;
    border radius: 25px;
 }
  .centro ul#menu li a  {display:inline;
  float: center }

 .centro img {
    width: 100%;
    max-height: 100%;
    float: center;
  }
  
 

  

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;


 